{% extends "base.html" %}

{% block content %}
<h1>Login</h1>
<form action="{% url 'oauth_login:login' 'github' %}" method="post">
    {% csrf_token %}
    <button type="submit">Login with GitHub</button>
</form>
<form action="{% url 'oauth_login:login' 'gitlab' %}" method="post">
    {% csrf_token %}
    <button type="submit">Login with GitLab</button>
</form>
<form action="{% url 'oauth_login:login' 'bitbucket' %}" method="post">
    {% csrf_token %}
    <button type="submit">Login with Bitbucket</button>
</form>
{% endblock %}
